/**
 * 應放入任何額外的全局基底樣式
 */

html {
  font-family: source-han-sans-traditional, sans-serif;
}

picture {
  display: block;
}

a {
  cursor: pointer;
}

button {
  &:focus {
    outline: none;
  }
}

button,
input,
optgroup,
select,
textarea,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-wrap: break-word;
}

